<div class="mx-4">
<a href="/admin/create" class="btn" style="background-color: #0047b6; color: white;">Create New Product</a>
<table class="table table-hover table-striped ">
    <thead >
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Is Featured</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < products.length; index++ ) { %>
            <tr>
                <td><%= products[index].title %></td>
                <td><%= products[index].description %></td>
                <td><%= products[index].price %></td>
                <td><%= products[index].isFeatured %></td>
                <td>
                    <a href="/admin/products/edit/<%= products[index]._id %>" class="btn btn-warning">Edit</a>
                    <a href="/admin/products/delete/<%= products[index]._id %>" class="btn btn-danger">Del</a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
</div>